.glance {
  box-shadow: none;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
