@import "colors";
$color: get-color("blue") !default;

.glance {
  min-width: 200px;
  box-shadow: none;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  border-radius: 3px;
  height: 100%;
  transition: border-color 0.08s linear;

  &:hover {
    border-color: #ddd;
  }

  .el-card__header {
    background-color: initial;
    border-color: initial;
    background-color: #F9F9F9;
    border-color: #e6e6e6;
    padding: 0;
    clear: both;
  }

  .header {
    cursor: pointer;
    padding: 11px 11px 10px 11px;
    user-select: none;
    vertical-align: middle;
    display: block;
    clear: both;
    font-size: 22px;
    font-weight: 400;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    line-height: 0.65;
    border-color: $color;

    &:hover {
      .title {
        color: #484848;
        border-color: #484848;
      }
    }

    .title {
      transition: all .08s linear;
      display: inline-block;
      left: 0;
      margin-top: 1px;
    }
  }

  .header, .title {
    color: #808080;
    position: relative;
  }

  .glance-container {
    color: #4a4a4a;
  }
}
